.App {
    text-align: center;
}

.point {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
}

.area {
    height: 100vh;
    width: 100vw;
}
